---
layout: no_header
---

<div class="project">
   <div>
      <h1>The story</h1>
      <div class="meta">or about some of <span>me</span>
      </div>
      <a href="/index.html">
         <img src="images/palm_tree.png" alt="" />
      </a>
      <div class="body">
         {% for post in site.posts %}
            {% if post.main == 'about' %}
               <p class="quote">"{{ post.quote }}"</p>
               <div class="single_column">
                  <p>{{ post.content }}</p>
               </div>
               <p class="header-text-date">{{ post.date | date_to_string }}</p>
            {% endif %}
         {% endfor %}
         <img class="project" src="/images/about.png" />
         <div class="spacer">
         </div>
      </div>
   </div>
</div>