---
layout: default
title: frank.lovecch.io
---

{% for post in site.posts %}
  {{ post.date }}
  {% if post.category == 'tech' and post.main != 'tech' %}
  {% endif %}
{% endfor %}


<div class="single-post-container">
   <div class="single-post-item">
      <div class="single-post-head">
         <a href="#" />
         <h6>THOUGHTS</h6>
      </div>
   </div>
   <div class="single-post-item">
      <div class="single-post-head">
         <a href="projects.html" />
         <h6>PROJECTS</h6>
      </div>
   </div>
   <div class="single-post-item">
      <div class="single-post-head">
         <a href="tech.html" />
         <h6>TECH</h6>
      </div>
   </div>
</div>
<div class="single-post-container">
   <div class="single-post-item">
      <div class="single-post-head">
         <a href="#" />
         <h6>RODS & RICERS</h6>
      </div>
   </div>
   <div class="single-post-item">
      <div class="single-post-head">
         <a href="labs.html" />
         <h6>LABS</h6>
      </div>
   </div>
   <div class="single-post-item">
      <div class="single-post-head">
         <a href="archives.html" />
         <h6>ARCHIVES</h6>
      </div>
   </div>
</div>