---
layout: layout
header: snippets of smidgens.
back: index.html
---

<div class="project">
   <div>
      <h1>The story</h1>
      <div class="meta">or how I came to be <span>inspired</span>
      </div>
      <div class="body">
	     <!--
	     Render only a specific file
	     -->
         {% for post in site.posts %}
            {% if post.main == 'tech' %}
               <p>"{{ post.quote }}"</p>
               <p>{{ post.content }}</p>
               <p class="header-text-date">{{ post.date | date_to_string}}</p>
            {% endif %}
	     {% endfor %}
	     <img src="images/palm_tree.png" alt="" />
         <div class="spacer">
         </div>
      </div>
   </div>
   {% for post in site.posts %}
      {% if post.category == 'tech' %}
         {% capture mod_three %}{{ forloop.index0 | modulo: 3 }}{% endcapture %}
         {% if mod_three == '0' %}
            <div class="single-post-container">
         {% endif %}
         <div class="single-post-item">
            <div class="single-post-head">
               <a href="{{ post.url }}" />
               <h6>{{ post.title }}</h6>
            </div>
         </div>
        {% if mod_three == '2' or forloop.last %}
           </div>
        {% endif %}
    {% endif %}
{% endfor %}
</div>