---
layout: layout
subheader: thoughts.
header: but never greater,<br/> than a good amount.
back: index.html
---

<div class="project">
   <div>
      <h1>The story</h1>
      <div class="meta">or how I came to be <span>inspired</span>
      </div>
      <div class="body">
         {% for post in site.posts %}
            {% if post.main == 'thoughts' %}
               <p class="quote">"{{ post.quote }}"</p>
               <div class="columns">
	              <p>{{ post.content }}</p>
	           </div>
               <p class="header-text-date">{{ post.date | date_to_string}}</p>
            {% endif %}
	     {% endfor %}
	     <img src="images/palm_tree.png" alt="" />
         <div class="spacer">
         </div>
      </div>
   </div>
   {% for post in site.posts %}
      {% if post.status == 'completed' %}
      {% if post.category == 'thoughts' %}
         {% capture mod_three %}{{ forloop.index0 | modulo: 3 }}{% endcapture %}
         {% if mod_three == '0' %}
            <div class="single-post-container">
         {% endif %}
         <div class="single-post-item">
            <div class="single-post-head">
               <a href="{{ post.url }}">
               {% if post.short %}
                  <h6>{{ post.short }}</h6>
               {% else %}
                  <h6>{{ post.title }}</h6>
               {% endif %}
               </a>
            </div>
         </div>
        {% if mod_three == '2' or forloop.last %}
           </div>
        {% endif %}
    {% endif %}
    {% endif %}
{% endfor %}
</div>