h1 {
  font: bold 100% "Century Schoolbook", Georgia, Times, serif;
  font-size: 70px;
  letter-spacing: -3px;
  color: #fff;
}
h2 {
  font: bold 100% "Century Schoolbook", Georgia, Times, serif;
  font-size: 40px;
  line-height: 90%;
  letter-spacing: -2px;
  color: #333;
  margin: .2em 0 .4em;
}
h3 {
  font: bold 100% "Century Schoolbook", Georgia, Times, serif;
  font-size: 30px;
  line-height: 90%;
  letter-spacing: -2px;
  color: #333;
  margin: .2em 0 .4em;
}
h4 {
  font: normal 60% Georgia, "Century Schoolbook", Times, serif;
  color: #031020;
  letter-spacing: 4px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 30px 0 30px 10px;
}
h5 {
  font: normal 60% Georgia, "Century Schoolbook", Times, serif;
  color: #fff;
  letter-spacing: 4px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 30px 0 30px 10px;
}
h6 {
  font: normal 55% Georgia, "Century Schoolbook", Times, serif;
  color: #0b3a6e;
  letter-spacing: 4px;
  line-height: 60%;
  text-transform: uppercase;
}
p {
  font-size: 100%;
  color: #6691be;
  line-height: 100%;
}
div.project p {
  line-height: 1.5em;
  font-family: Verdana;
  color: rgb(69, 54, 37);
}
p.img-caption {
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #eee;
}
/* TODO */
span.trademark {
  font-size: 16px;
  line-height: 200%;
  font-variant: none;
}