div.the-social-network-list {
  width: 800px;
  height: 150px;
  position: relative;
  top: -20px;
  left: 108px;
}
  div.social-icon-container {
    clear: both
  }
    div.social-icon {
      float: left;
      display: inline;
      z-index: 2;
      width: 75px;
    }
    div.social-icon:hover {
      opacity: .6
    }
div.single-post-container {
  width: 100%;
  text-align: center;
  clear: both;
} 
  div.single-post-item {
    margin-top: 20px;
    float: left;
    width: 31%;
    margin-left: 2%;
    /*border: 1px solid rgb(255, 255, 255);*/
    color: #0b3a6e;
    text-decoration: none;
    line-height: 200%;
    font-size: 24px;
    text-align: center;
  }
    div.single-post-head {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      border-top: 1px solid #dbdbd4;
      height: 20px;
    }
  div.single-post-head h6 {
    line-height: 120%;
  }
a:visited {
  color: #0b3a6e;
  text-decoration: none;
  line-height: 80%;
  font-size: 24px;
  text-align: center;
}
a:hover {
  text-decoration: none;
}
/* TODO refactor */
.single_column a {
  color: #0b3a6e; 
  text-decoration: underline;
  font-size: 12px;
}
.single_column a:visited {
  color: #0b3a6e; 
  text-decoration: underline;
}
.single_column a:hover {
  text-decoration: none;
  text-shadow: 0 0 2px #999;
}
.columns a {
  color: #0b3a6e; 
  text-decoration: underline;
  font-size: 12px;
}
.columns a:visited {
  color: #0b3a6e; 
  text-decoration: underline;
}
.columns a:hover {
  text-decoration: none;
  text-shadow: 0 0 2px #999;
}
.snippet {
  width: 100%; 
  column-span: all;
  -moz-column-span: all;
  -webkit-column-span: all; 
  color: rgb(69, 54, 37);
  font-weight: bold;
  margin-bottom: 15px;
  padding-top: 10px;
}
.newspaper_snippet {
  width: 100%; 
  color: rgb(69, 54, 37);
  font-weight: bold;
  margin-bottom: 15px;
  padding-top: 10px;
}
pre {
  background-image: url(/images/pre.png); 
  background-repeat: repeat;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
pre.terminal {
  background-image: url(/images/black_twill.png); 
  background-repeat: repeat;
  color: white;
  font-weight: normal;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
}	
/* Override Bootstrap */
code {
  line-height: 190%;
  border: none;
}
.not-ready-category {
  color: gray; 
  font-style: italic;
}