div.project {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
  div.project h1 {
    font-family: Georgia;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
    color: black;
    display: block;
    margin-top: 0.5em;
    font-family: Verdana;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0em;
    text-shadow: none;
  }
  div.project div.meta {
    font-family: Georgia;
    color: rgba(69, 54, 37, 0.6);
    font-size: 14px;
    font-style: italic;
    letter-spacing: .2em;
    border-bottom: 1px solid rgba(69, 54, 37, 0.2);
    margin-bottom: 0.5em;
  }
  div.project div.meta .span {
    text-transform: capitalize;
    font-style: normal;
    color: rgba(69, 54, 37, 0.8);
  }
  div.social-icon-source {
    height: 150px;
    margin-bottom: 10px;
    text-align: center;
    margin: 0 auto;
  }
  div.project .scroll-content {
    overflow: scroll;
    height: 300px;	
    cursor: pointer;
  }
  span.tldr {
    font-weight: bold;
  }
  div.project div.body div.columns {
	margin-top: -20px;
	padding-top: 10px;
	-webkit-column-width: 48%;
	-webkit-column-gap: 2%;
	-webkit-column-count: 2;
	-moz-column-width: 48%;
	-moz-column-gap: 2%;
	-moz-column-count: 2;
	width: 80%;
	margin: 0 auto;
    text-align: justify;	
    -webkit-column-rule: 1px solid #eee;
    -moz-column-rule: 1px solid #eee;
    column-rule: 1px solid #eee;
  }
  div.subcategory {
    margin-top: 20px;
    height: 30px;	
    width: 100px;
  }
  div.project div.body div.columns h2 {
    font-size: 18px;	
    border-top: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    font-variant: uppercase;
  }
  div.project p.quote {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Georgia;
    font-style: italic;
	color: rgb(69, 54, 37);
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 1.25em;
	text-align: center;
  }
  div.project div.date {
    font-family: Georgia;
    color: rgba(69, 54, 37, 0.6);
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.25em;
    border-top: 1px solid rgba(69, 54, 37, 0.2);
    display: block;
    padding-top: 0.5em;
    margin-top: 2em;
  }
img.project {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}
img.inline {
  border: 1px solid #eee;
  display: block;   
  overflow: visible;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 98%;
}