<!doctype html> 
<html>
   <head>
	  {% include absolute_deps.textile %}
   </head>
   <body>
	  <div class="container">
      {% include gcf.textile %}
      <header class="header-container">
         <a href="index.html">
            <div class="header-mast">
               <div class="header-logo">
                  <h1>frank.lovecch.io</h1>
               </div>
            </div>
            <div class="header-image">
               <div class="header-text">
                  <p class="header-text-date">clear eyes, full hearts.</p>
                  <h2>modern-day grifter.</h2>
               </div>
            </div>
         </a>
         <h5 class="center">LIFE AS I [DIGITALLY] KNOW IT &darr;</h5>
         <div class="the-social-network-list center">
            <div class="social-icon-container center">
               <div class="social-icon">
                  <a href="https://github.com/franklovecchio">
                  <img src="images/github.png" alt="" />
                  </a>
               </div>
               <div class="social-icon" class="box-shadow">
                  <a href="http://stackoverflow.com/users/375566/frank-lovecchio">
                  <img src="images/stackoverflow.png" alt="" />
                  </a>
               </div>
               <div class="social-icon">
                  <a href="http://facebook.com/franklovecchio">
                  <img src="images/facebook.png" alt="" />
                  </a>
               </div>
               <div class="social-icon">
                  <a href="http://linkedin.com/pub/frank-lovecchio/14/693/96b">
                  <img src="images/linkedin.png" alt="" />
                  </a>
               </div>
               <div class="social-icon">
                  <a href="http://twitter.com/zer0c00l">
                  <img src="images/twitter.png" alt="" />
                  </a>
               </div>
               <div class="social-icon">
                  <a href="http://twitter.com/zer0c00l">
                  <img src="images/youtube.png" alt="" />
                  </a>
               </div>
               <div class="social-icon">
                  <a href="franklovecchio">
                  <img src="images/vimeo.png" alt="" />
                  </a>
               </div>
               <div class="social-icon">
                  <a href="franklovecchio">
                  <img src="images/skype.png" alt="" />
                  </a>
               </div>
            </div>
         </div>
      </header>
      <div class="content-container">
         {{ content }}
      </div>
      </div>
      {% include footer.textile %}
   </body>
</html>