<!doctype html> 
<html>
   <head>
      <title>modern-day grifter | frank.lovecch.io</title>
      <link href="stylesheets/bootstrap.css" rel="stylesheet" />
      <link href="stylesheets/prettify.css" rel="stylesheet" />
      <link href="stylesheets/utils.css" rel="stylesheet" />
      <link href="stylesheets/fonts.css" rel="stylesheet" />
      <link href="stylesheets/layout.css" rel="stylesheet" />
      <link href="stylesheets/middleware.css" rel="stylesheet" />
      <link href="stylesheets/project.css" rel="stylesheet" />
      <script src="javascripts/jquery.js" type="text/javascript"></script>
   </head>
   <body>
      <header class="header-container">
	     <a href="index.html">
            <div class="header-mast">
               <div class="header-logo">
                  <h1>frank.lovecch.io</h1>
               </div>
            </div>
            <div class="header-image">
               <div class="header-text">
                  <p class="header-text-date">{{ page.subheader }}</p>
                  <h2>{{ page.header }}</h2>
               </div>
            </div>
         </a>
         <a href="{{ page.back }}"><h5 class="center cursor">[&larr;]</h5></a>
      </header>
      <div class="content-container">
         {{ content }}
      </div>
      {% include ga.textile %}
   </body>
</html>