<!doctype html> 
<html>
   <head>
      {% include absolute_deps.textile %}
   </head>
   <body onload="prettyPrint()">
      <header class="header-container">
         <div class="header-mast">
            <div class="header-logo">
               <a class="about" href="/about.html">
                  <h1 class="header-link">frank.lovecch.io</h1>
               </a>
            </div>
         </div>
         <a href="/index.html">
            <div class="header-image">
               <div class="header-text">
                  <p class="header-text-date">{{ page.subheader }}</p>
                  <h2>{{ page.header }}</h2>
               </div>
            </div>
         </a>
         <a href="{{ page.back }}">
            <h5 class="center cursor">[&larr;]</h5>
         </a>
      </header>
      <div class="content-container">
         {{ content }}
      </div>
      {% include footer.textile %}
   </body>
</html>