<!doctype html> 
<html lang="en-US">
   <head>
      <title>{{title}}</title>
      <link href="/public/stylesheets/global/reset.css" rel="stylesheet" />
      <link href="/public/stylesheets/franklovecchio/style.css" rel="stylesheet" />
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
   </head>
   <body>
      <header class="header-container">
         <div class="header-mast cursor">
            <div class="header-logo">
               <h1>frank.lovecch.io</h1>
            </div>
         </div>
         <div class="header-image">
            <div class="header-text">
               <p class="header-text-date">{{subheader}}</p>
               <h2>{{header}}</h2>
            </div>
         </div>
         <h5 class="center cursor">[&larr;]</h5>
      </header>
      <div class="content-container">
         <div class="project">
            <div>
               <h1>The story</h1>
               <div class="meta">or how I came to be <span>inspired</span></div>
               <div class="body">
                  <p>{{hton.header}}</p>
                  <p><span style="font-size: 40px; line-height: 50px;">&para;</span>
                    {{>content}}
                  </p>
                  <div class="spacer">
                  </div>
               </div>
            </div>
            <div class="single-post-container">
               <div class="single-post-item">
                  <div class="single-post-head">
                     <a href="#" />
                     <h6>MOUNTAIN RANCH</h6>
                  </div>
               </div>
               <div class="single-post-item">
                  <div class="single-post-head">
                     <a href="#" />
                     <h6>FAST & FRESH</h6>
                  </div>
               </div>
               <div class="single-post-item">
                  <div class="single-post-head">
                     <a href="#" />
                     <h6>A CONSORTIUM</h6>
                  </div>
               </div>
            </div>
            <div class="single-post-container">
               <div class="single-post-item">
                  <div class="single-post-head">
                     <a href="#" />
                     <h6>AR BAR</h6>
                  </div>
               </div>
               <div class="single-post-item">
                  <div class="single-post-head">
                     <a href="#" />
                     <h6>BMX</h6>
                  </div>
               </div>
               <div class="single-post-item">
                  <div class="single-post-head">
                     <a href="#" />
                     <h6>GREEN</h6>
                  </div>
               </div>
            </div>
            <div class="single-post-container">
               <div class="single-post-item">
                  <div class="single-post-head">
                     <a href="#" />
                     <h6>FASHION</h6>
                  </div>
               </div>
               <div class="single-post-item">
                  <div class="single-post-head">
                     <a href="#" />
                     <h6>MODERN MILITA</h6>
                  </div>
               </div>
               <div class="single-post-item">
                  <div class="single-post-head">
                     <a href="#" />
                     <h6>MISC</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="clear">
      </div>
      <footer class="footer-container">
      </footer>
   </body>
</html>