<!doctype html> 
<html>
   <head>
      {% include relative_deps.textile %}
   </head>
   <body onload="prettyPrint()">
      {% include gcf.textile %}
      <header class="header-container">
         <div class="header-mast">
            <div class="header-logo">
               <a class="about" href="/about.html">
                  <h1 class="header-link">frank.lovecch.io</h1>
               </a>
            </div>
         </div>
         <a href="/index.html">
            {% if page.status == 'completed' %}
               <div class="header-image" />
            {% endif %}
            {% if page.status == 'wip' %}
               <div class="header-image-in-progress">
            {% endif %}
            {% if page.status == 'not-ready' %}
               <div class="header-image-in-progress">
            {% endif %}
               <div class="header-text">
                  <p class="header-text-date">{{ page.category }}</p>
                  <h2>{{ page.title }}</h2>
               </div>
            </div>
         </a>
         <a href="/{{ page.back }}">
            <h5 class="center cursor">[&larr;]</h5>
         </a>
      </header>
      <div class="content-container">
         <div class="project">
            <div>
               <div class="body">
                  <p class="quote">"{{ page.quote }}"</p>
                  <div class="social-icon-source">
                     <a href="https://github.com/franklovecchio/{{ page.source}}">
                     <img src="/images/github.png" alt="" />
                     </a>
                  </div>
                  <p><span class="tldr">[too long; don't read]</span> Click the source kitty, or view the <a href="{{ page.demo }}">demo</a>.</p>
                  <div class="columns">
                     <p><span style="font-size: 40px;">&para;</span>{{ content }}</p>
                  </div>
                  <p class="header-text-date">{{ page.date | date: "%d %B %Y" }}</p>
                  <img src="/images/palm_tree.png" alt="" />
                  <div class="spacer">
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% include footer.textile %}
   </body>
</html>